/.cache
.DS_Store
/build*
/developer-xcode/libzip.xcodeproj/project.xcworkspace/xcuserdata/
/developer-xcode/libzip.xcodeproj/xcuserdata/
*~
*.tar.gz
*.tar.xz
/.clangd
/compile_commands.json
/cmake-build-debug
/.vs
/NuGet发布/x64
/out
/NuGet发布/.vs
/NuGet发布/打包/build/native/lib
*.nupkg
/packages
